{% extends "layout.html" %}

{% block main %}
<main class="responsive">
        <article class="padding --surface-container round" id="More" style="margin-top: 25%;">
      <!-- The form that will be submitted -->
      <form
        class="padding --surface-container round"
        id="signupForm"
        method="POST"
      >
        <div class="padding">
          <h5>
            <center>Login</center>
          </h5>

          <div class="field label prefix round border float">
              <i class="fa-solid fa-user"></i>
              <input type="text" id="username" name="username" required placeholder=""/>
              <label>Username</label>
          </div>

          <div class="field label prefix round border">
            <i>visibility</i>
            <input type="password" id="password" name="password" required  placeholder=""/>
            <label>Password</label>
          </div>

          <center><button type="submit" class="button primary">Log In</button><br><br>

          Don't Have an account ? <a href="/register" class="link">Register here</a></center>
        </div>

      </form>
    </article>
    </main>
    {% endblock %}
